@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

header,
footer {
	background-color: #1F2937;
	color: #f9faf8;
	padding: 1.5rem 0;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1.5rem 13%;
}

footer {
	text-align: center;
}

h1 {
	font-size: 48px;
	font-weight: 700;
	color: #f9faf8;
}

h2 {
	font-weight: 700;
	font-size: 28px;
}

h3 {
	font-size: 24px;
	font-weight: 500;
}

ul {
	display: flex;
	text-decoration: none;
	list-style: none;
	align-items: center;
	gap: 20px;
}

button {
	color: #f9faf8;
	background-color: #3882f6;
	border: none;
	padding: 8px 25px;
	border-radius: 5px;
	font-weight: 700;
	border: 1px #3882f6 solid;
}

.container {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
	
	&.dark {
		background-color: #1f2937;
		color: #f9faf8;
	}

	&.gray {
		background-color: #E5E7EB;
	}

	&.col {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.constraint {
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
	gap: 50px;
	max-width: 50%;
}

.left-block,
.right-block {
	display: flex;
	align-items: center;
	justify-content: center;
}

.left-block {
	align-items: start;
	flex-direction: column;
	gap: 15px;
}

.placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 450px;
	background-color: #6D747D;
	color: #f9faf8;
}

.card {
	display: flex;
	flex-direction: column;	
	max-width: 145px;
	align-items: center;
	margin: 20px;
	gap: 10px;

	& p {
		text-align: center;
	}
}

.photo {
	border: 2px solid #3882f6;
	border-radius: 15px;
	height: 140px;
	width: 140px;
}

.call-to-action {
	display: flex;
	justify-content: space-between;
	background-color: #3882f6;
	color: #f9faf8;
	padding: 40px 90px;
	border-radius: 5px;
	gap: 150px;

	h3 {
		font-size: 18px;
		font-weight: 700;
		margin: 5px 0;
	}

	button {
		border: 1px #f9faf8 solid;
		padding: 0 30px;
	}
}

.quote {
	margin: 30px 0;
	max-width: 50%;
	
	p {
		font-size: 36px;
		font-style: italic;
	}

	span {
		display: block;
		text-align: right;
		font-weight: 700;
		margin: 10px 50px 0 0;
	}
}